@import "../base/_variables";

.nav {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  &__lang {
    display: flex;
    a {
      padding: 5px 15px;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      color: $grey;
      &.router-link-active{
        color: $primary;
      }
      &:nth-child(1) {
        border-right: 2px solid $primary;
      }
    }

  }
}

@media all and (max-width: 1024px) {

}

@media all and (max-width: 1024px) {

}
